.microphone {
  font-size: 150%;
  cursor: pointer;
  margin-left: 10px;
  &.unavailable {
    color: #ccc;
  }
}
.stop {
  color: red;
  border-radius: 50%;
  box-shadow: 0px 0px 1px 1px #0000001a;
  animation: pulseAnimation 2s infinite;
  @keyframes pulseAnimation {
    0% {
      box-shadow: 0 0 0 0px rgba(255, 0, 0, 0.2);
    }
    100% {
      box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
    }
  }
}
.languages {
  z-index: 0;
  width: 0px;
  :global .ms-Dropdown-title {
    border: 0px;
    height: 10px;
  }
  :global .ms-Dropdown:focus::after {
    border: 0px;
  }
  :global .ms-Dropdown-caretDownWrapper {
    display: none;
  }
}
