@import 'src/UI/mixins/UI.module.scss';

.messageBar {
  margin: 0;
  padding: 1ex 1em;
  font-size: 12px;
  background: $ms-color-infoBackground;
  color: $ms-color-black;

  &.errorMessage {
    background-color: $ms-color-errorBackground;
    color: $ms-color-error;
  }

  &.warnMessage {
    background-color: $ms-color-warningBackground;
  }
}
