.errorMessage {
  margin-bottom: 10px !important;
  margin: 0 auto;
  width: 90%;
}
.fileUpload {
  display: none;
}
.fileUploadDialogContainer {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  button {
    width: 150px;
    white-space: nowrap;
  }
}
.fileUploadIcon {
  cursor: pointer;
  font-size: 150%;
  i {
    rotate: 150grad;
  }
  .fileCounter {
    margin-left: 4px;
    margin-top: -6px;
    font-size: 12px;
    color: #000;
    &.promptAtBottom {
      vertical-align: top;
    }
  }
  &.selected {
    margin-right: 0px;
  }
  position: absolute;
  z-index: 65535;
  margin-top: 12px;
  margin-left: 10px;
}
